img {
    margin: 0 32px;
    float: right;
    width: 100%;
    max-width: 480px;
    min-width: 25%;
    border-radius: 4px;
}

@media only screen and ( max-width: 1285px) {
    img {
        float: none;
        margin: 0;
    }
    #content div div {
        text-align: center;
    }
}

#headerSpace {
    background-image: url("../img/codeScreenshot.png");
}