#content img {
    margin: 0 32px;
    float: right;
    width: 100%;
    max-width: 480px;
    min-width: 25%;
    border-radius: 4px;
}

@media only screen and ( max-width: 1285px) {
    #content img {
        float: none;
        margin: 16px 0;
    }
    #content div div {
        text-align: center;
    }
}

#hello {
    font-size: 3em;
}

#intro {
    font-size: 1.8em;
}

#headerSpace {
    background-image: url("../img/codeScreenshot.png");
}