:root {
    --color_bg0: rgb(21, 27, 32);
    --color_bg1: rgb(21, 27, 32);
    --color_bg2: rgb(21, 27, 32);
    --color_bg3: rgb(21, 27, 32);
    --color_fgText: rgb(220, 220, 220);
    --color_red: rgb(255, 73, 15);
    --color_orange: rgb(255, 133, 18);
    --color_yellow: rgb(230, 203, 86);
    --color_green: rgb(168, 203, 68);
    --color_blue: rgb(105, 167, 245);
    --color_teal: rgb(93, 223, 255);
    --color_pink: rgb(255, 147, 255);
    --color_alt0: rgb(92, 82, 66);
    --color_alt1: rgb(194, 182, 164);
    --color_alt2: rgb(237, 227, 207);
}

html {
    background-color: var(--color_bg0);
    color: var(--color_fgText);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
    font-size: 14px;
    padding: 0 26px;
    line-height: 22px;
}

code {
    font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
    font-size: 14px;
    line-height: 19px;
}

h1 {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    /* line-height: 1.2; */
    /* border-bottom-width: 1px; */
    /* border-bottom-style: solid; */
}

h1, h2, h3 {
    font-weight: normal;
}

img {
    max-width: 100%;
    max-height: 100%;
}

nav a {
    font-size: 1.5em;
    color: var(--color_fgText);
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    padding: 10px;
}